{% import "mixins/flash-messages.html" as FM %}

<!doctype html>
<html lang="en">

<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-T2C78KQ');</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{ title|default("Usability Kitty | Mandy Swithenbank explores UX & accessibility") }}</title>
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<link href="/styles/site.css" rel="stylesheet"> {# This file provides the default styling for the KeystoneJS Content Editor #} {% if user and user.canAccessKeystone %}
	<link href="/keystone/styles/content/editor.min.css" rel="stylesheet"> {% endif %} {# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries Safely remove this block if you are not targeting IE8 #}
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
	<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	{# Include template-specific stylesheets by extending the css block #} {% block css %}{% endblock %} {# Add any other template-specific HEAD tags by extending the head block #} {% block head %}{% endblock %}
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2C78KQ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>
	{# HEADER #}
	<div id="header" class="container">

		{# Customise your site"s navigation by changing the navLinks Array in ./routes/middleware.js ... or completely change this header to suit your design. #}
		<div role="navigation" class="navbar navbar-light bg-light navbar-expand-md">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				&#x2630;</button>
			<a class="navbar-brand" href="/"><img src="/images/logo.svg" width="160" alt="Usability Kitty Home"></a>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% for link in navLinks %}
					<li class="{{ 'active' if link.key == section else '' }} nav-item">
						<a href="{{ link.href }}" class="nav-link">{{ link.label }}</a>
					</li>
					{% endfor %}
				</ul>
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://www.linkedin.com/in/mandy-swithenbank-ab629a26">
							<svg id="linkedin-logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="linkedin">
								<title id="linkedin">Mandy Swithenbank on LinkedIn</title>
								<path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z">
								</path>
							</svg>
							<span class="pl-1 d-inline-block d-md-none">Find me on LinkedIn</span>
						</a>
					</li>
					{% if user %} {% if user.canAccessKeystone %}
					<li class="nav-item">
						<a href="/keystone" class="nav-link">Open Keystone</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a href="/keystone/signout" class="nav-link">Sign Out</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>

	{# BODY #}
	<div id="content">
		<div class="container">
			<div class="jumbotron">
				{# The Intro block appears above flash messages (used for temporary information display) #} 
				{% block intro %}{% endblock %} 
				{# Flash messages allow you to display once-off status messages to users, e.g. form validation errors, success messages, etc. #} 
				{{ FM.flashMessages(messages) }} {# The content block should contain the body of your template"s content #} {% block content %}{% endblock %}
			</div>
		</div>
	</div>


	{# FOOTER #}
	<div id="footer" class="navbar navbar-light bg-light navbar-expand-md"> 
		Built with Node.js, MongoDB, SASS, Bootstrap 4, & KeystoneJS
	</div>


	{# JAVASCRIPT #} {# jQuery 1.11.3 is included by default, and required by both Bootstrap and the KeystoneJS Content Editor. If you are not targeting IE8, you can upgrade to 2.1.4 (also bundled) for better performance. #}
	<script src="/js/jquery/jquery-1.11.3.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	{# The KeystoneJS Content Editor provides support for ks-editable data attributes, which generate links to edit content for users who can access Keystone #} {% if user and user.canAccessKeystone %}
	<script src="/keystone/js/content/editor.js"></script>
	{% endif %} {# Add scripts that are globally required by your site here. #} {# Include template-specific javascript files by extending the js block #} {% block js %}{% endblock %}
</body>

</html>