{% extends "layouts/default.html" %} {% block content %}

<div class="homepage">
	<h1 class="mb-3">Hi, I'm Mandy Swithenbank!</h1>
	<div class="row">
		<div class="col-md-6">
		<h2>A cat wearing many hats <span class="h4 d-block">(but usually glasses)</span></h2>
		<p class="lead mb-4">
			User experience development and analysis is my trade, with a special focus in web accessibility.
		</p>
		<h2>People are my passion</h2>
		<p class="lead mb-4">
			I've been working with professional teams across the world since 2012 to empower and delight people of all backgrounds and abilities.
		</p>
		<h2>Living in the meow</h2>
		<p class="lead">
			I am currently located in Ottawa, Ontario, Canada.
		</p>
		<p class="lead">
			You can <a href="/blog">read some of my "mewsings" on my blog</a>.
		</p>
		<p class="lead mb-4">
			Feel free to <a href="/contact">get in touch</a>. I love to network!
		</p>
		</div>
		<div class="col-md-6 text-center text-md-right">
			<img class="img-fluid" src="/images/usability-kitty-mascot.png" alt="A thoughtful orange cat wearing glasses welcomes you" />
		</div>
	</div>
</div>

{% endblock %}