{% extends "layouts/default.html" %} {% block content %}

<h1>Styleguide</h1>
<br/>

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<div class="row mt-4 mb-4">
	<div class="col-10">
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--primary-lightest">
				&nbsp;
			</div>
			<span>Lightest</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--primary-lighter">
				&nbsp;
			</div>
			<span>Lighter</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--primary-light">
				&nbsp;
			</div>
			<span>Light</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--primary">
				&nbsp;
			</div>
			<span>Primary</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--primary-dark">
				&nbsp;
			</div>
			<span>Dark</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--primary-darker">
				&nbsp;
			</div>
			<span>Darker</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--primary-darkest">
				&nbsp;
			</div>
			<span>Darkest</span>
		</div>
	</div>
</div>

<div class="row mb-4">
	<div class="col-10">
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--secondary-lightest">
				&nbsp;
			</div>
			<span>Lighest</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--secondary-lighter">
				&nbsp;
			</div>
			<span>Lighter</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--secondary-light">
				&nbsp;
			</div>
			<span>Light</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--secondary">
				&nbsp;
			</div>
			<span>Secondary</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--secondary-dark">
				&nbsp;
			</div>
			<span>Dark</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--secondary-darker">
				&nbsp;
			</div>
			<span>Darker</span>
		</div>
		<div class="d-inline-block img-thumbnail text-center">
			<div class="swatch swatch--secondary-darkest">
				&nbsp;
			</div>
			<span>Darkest</span>
		</div>
	</div>
</div>

<p>
	Eat too much then proceed to regurgitate all over living room carpet while humans eat dinner demand to be let outside at once, and expect owner to wait for me as i think about it eat and than sleep on your face wake up human for food at 4am. Groom forever, stretch tongue and leave it slightly out, blep kitty kitty. Catch mouse and gave it as a present. Hide at bottom of staircase to trip human chirp at birds attempt to leap between furniture but woefully miscalibrate and bellyflop onto the floor; what's your problem?
</p>

<ul>
	<li>Catnip</li>
	<li>Mouse toy
		<ul>
			<li>Brown mouse toy</li>
			<li>Gray mouse toy</li>
			<li>White mouse toy</li>
		</ul>
		</li>
	<li>Scratching post</li>
	<li>Laser</li>
</ul>

<ol>
	<li>Sleep</li>
	<li>Play with toys</li>
	<li>Eat food</li>
	<li>Stare at birds
		<ul>
			<li>Cardinal</li>
			<li>Chickadee</li>
			<li>Sparrow</li>
		</ul>
	</li>
</ol>

<ul class="list-group mb-4">
  <li class="list-group-item active">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

<p>
	<button type="button" class="btn btn-default">Default</button>
	<button type="button" class="btn btn-primary">Primary</button>
	<button type="button" class="btn btn-success">Success</button>
	<button type="button" class="btn btn-info">Info</button>
	<button type="button" class="btn btn-warning">Warning</button>
	<button type="button" class="btn btn-danger">Danger</button>
	<button type="button" class="btn btn-link">Link</button>
</p>

<div>
	​<picture>
	  <img src="http://via.placeholder.com/350x150" class="img-fluid img-thumbnail" alt="...">
	</picture>
</div>

<br />

<div>
	<figure class="figure">
	  <img src="http://via.placeholder.com/400x300" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
	  <figcaption class="figure-caption">A caption for the above image.</figcaption>
	</figure>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

{% endblock %}