{% extends "layouts/default.html" %} {% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Styleguide</h1>
		<br/>

		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<h5>Heading 5</h5>
		<h6>Heading 6</h6>
		<br />

		<p>
			Eat too much then proceed to regurgitate all over living room carpet while humans eat dinner demand to be let outside at once, and expect owner to wait for me as i think about it eat and than sleep on your face wake up human for food at 4am. Groom forever, stretch tongue and leave it slightly out, blep kitty kitty. Catch mouse and gave it as a present. Hide at bottom of staircase to trip human chirp at birds attempt to leap between furniture but woefully miscalibrate and bellyflop onto the floor; what's your problem?
		</p>

		<ul>
			<li>Catnip</li>
			<li>Mouse toy
				<ul>
					<li>Brown mouse toy</li>
					<li>Gray mouse toy</li>
					<li>White mouse toy</li>
				</ul>
				</li>
			<li>Scratching post</li>
			<li>Laser</li>
		</ul>

		<ol>
			<li>Sleep</li>
			<li>Play with toys</li>
			<li>Eat food</li>
			<li>Stare at birds
				<ul>
					<li>Cardinal</li>
					<li>Chickadee</li>
					<li>Sparrow</li>
				</ul>
			</li>
		</ol>

		<p>
			<button type="button" class="btn btn-default">Default</button>
			<button type="button" class="btn btn-primary">Primary</button>
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-link">Link</button>
		</p>

	</div>
</div>
{% endblock %}