html, body, form, fieldset, table, tr, td, input, button, select, textarea, option {
	font-family: $font-family;
	font-size: $font-size-base;
}

#skippy {
	background-color: $white;
	
	&:focus {
		margin: .5rem;
		padding: .25rem;
		position: absolute;
		z-index: 1;
	}
}

#linkedin-logo {
	fill: #0077b5;
	position: relative;
	top: 2px;
}

#header {
	position: relative;
	position: sticky;
	top: 0;
	z-index: 1;
}

body {
	background-color: $primary-background-color;
}

.homepage {
	margin-bottom: -4rem;
}

#footer {
	padding-top: 1rem;
	color: #595959;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.twitter-tweet-rendered {
	margin: 0 auto;
}
