$font-size-base: 18px;

a {
  &:not(.nav-link):not(.navbar-brand) {
    color: $primary-color-dark;
    border-bottom: 1px dashed $primary-color-dark;
    
    &:hover, &:focus, &:active {
      border-bottom: 2px solid $primary-color-darkest;
      text-decoration: none;
    }
  }
}

.navbar {
  @include media-breakpoint-up(lg) {
    padding-left: calc(#{$spacing-tablet} + #{$padding-tablet});
    padding-right: calc(#{$spacing-tablet} + #{$padding-tablet});
  }
  
  @include media-breakpoint-up(xl) {
    padding-left: calc(#{$spacing-desktop} + #{$padding-desktop});
    padding-right: calc(#{$spacing-desktop} + #{$padding-desktop});
  }
}

.container {
	max-width: none;
	padding: 0;
	margin: 0;
}

.jumbotron {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
	border-radius: 0;
	background-color: $content-background-color;
  
  @include media-breakpoint-up(lg) {
  	margin-left: $spacing-tablet;
  	margin-right: $spacing-tablet;
  }
  
  @include media-breakpoint-up(xl) {
  	margin-left: $spacing-desktop;
  	margin-right: $spacing-desktop;
  }
}

.blockquote {
  background-color: $white;
  border-left: .25rem solid $primary-color-dark;
  color: $secondary-color-dark;
  font-size: 1.1rem;
  margin: 1rem 2.5rem;
  padding: 1rem;
}

