.swatch {
  height: 5.556rem;
  width: 5.556rem;
}

.swatch--primary {
  background-color: $primary-color;
}

.swatch--primary-light {
  background-color: $primary-color-light;
}

.swatch--primary-lighter {
  background-color: $primary-color-lighter;
}

.swatch--primary-lightest {
  background-color: $primary-color-lightest;
}

.swatch--primary-dark {
  background-color: $primary-color-dark;
}

.swatch--primary-darker {
  background-color: $primary-color-darker;
}

.swatch--primary-darkest {
  background-color: $primary-color-darkest;
}

.swatch--secondary {
  background-color: $secondary-color;
}

.swatch--secondary-light {
  background-color: $secondary-color-light;
}

.swatch--secondary-lighter {
  background-color: $secondary-color-lighter;
}

.swatch--secondary-lightest {
  background-color: $secondary-color-lightest;
}

.swatch--secondary-dark {
  background-color: $secondary-color-dark;
}

.swatch--secondary-darker {
  background-color: $secondary-color-darker;
}

.swatch--secondary-darkest {
  background-color: $secondary-color-darkest;
}